<div class="container">
<br/>
<h1>Employee Profiles</h1>
<h5>Welcome</h5>
<p>
This app is used to Create, Delete, Update, Edit and View the employee data.
Use the button below to enter into App
</p>
<%= link_to 'Enter App', home_index_path, class:"btn btn-primary" %>
</div>

