
<br/>
<div class="container">
<p> Employee Details
</p>
<%= link_to 'View Data', empdata_path, class:"btn btn-secondary" %>

<br/>
<p>Add new Employee</p>
<%= link_to 'Add Data', new_empdatum_path, class:"btn btn-secondary" %>

</div>