<div class="container">
<h1>Editing Employee data</h1>

<%= render 'form', empdatum: @empdatum %>

<%= link_to 'Show', @empdatum, class:"btn btn-primary" %> 
<%= link_to 'Back', empdata_path, class:"btn btn-primary" %>
</div>